spring:
  application:
    name: ictProject
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 150MB     # 设置单个文件大小
      max-request-size: 150MB  # 设置单次请求文件的总大小
  rabbitmq:
    host: 118.178.138.32
    username: rabbitmq
    password: rabbitmq
    virtual-host: /
    listener:
      simple:
        prefetch: 1    #（设置preFetch这个值，可以控制预取消息的上限）每次只能获取一条消息，处理完成才能获取下一个消息
mybatis-plus:
  mapper-locations: classpath:mappering/*.xml
minio:
  endpoint: http://118.178.138.32:9000
  accessKey: 3XDEV1ZB2GDNUW5Z9IPW
  secretKey: F0+RUWjW2MV7yH6Uhe1t9Ie2DzrTOIAUhUmiXkqO
  bucketName: public
translation:
  requestUrl: "https://itrans.xf-yun.com/v1/its"
  appId: "452f8576"
  apiSecret: "NmYyYjhiMDZmOGIxOGI5NzlmZjRlNWNl"
  apiKey: "6851072f04247a83d15693e84d309a96"
